.content-frame {
    position: inherit;
    width: 76.5%;
    height: 1500px;
    min-width: 1170px;
    padding-top: 85px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    z-index: 1;
}

.frame-title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-size: 21px;
    font-weight: 400;
}

.frame-title p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.frame-description {
    position: inherit;
    max-width: 770px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #999999;
    line-height: 24px;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 300;
}

.frame-grid {
    position: relative;
    margin: 90px 40px 30px 40px;
    background-color: #F2F2F2;
    height: 78%;
}
