.footer {
  padding: 2rem 0;
  background: var(--lightGrey);
  font-size: 1.2rem;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer .taCenter {
  display: flex;
  justify-content: center;
}

.footer-links {
  display: flex;
  width: 30%;
  height: 75px;
  padding-top: 25px;
  justify-content: space-evenly;
  font-size: 18px;
  align-items: center;
}